* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper {
  background-color: #fff;
  display: flex;
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  columns: 2;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

  
  
}

.wrapper__img {
  /* margin-left: 500px; */
  flex-direction: column;
}

.wrapper__img-icon {
  width: 500px;
  margin-top: 19px;
  height: 750px
}


.wrapper__form {
  width: 470px;
  height: 470px;
  border: 1px solid #dbdbdb;
  margin-top: -190px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.wrapper__form--img {
  width: 100px;
}

.wrapper__form h3 {
  text-align:center;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 30px

}

.wrapper__form--input input {
  width: 430px;
  height: 41px;
  margin: 10px;
  margin-left: 19px;
  margin-right: 19px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  outline: none;
  
}

.wrapper__form--button {
  background-color:#b2dffc;
  color: #fff;
  width: 430px;
  height:41px;
  margin-left: 19px;
  margin-right: 19px;
  outline: none;
  border: 1px solid #b2dffc;
  border-radius: 5px;
  font-size: 1.2rem;

}

.wrapper__form--or {
  display:flex;
}
.wrapper__form--left {
  margin-top: 33px;
  margin-left: 20px;
  margin-right: 23px;
  border-top: 1px solid #dbdbdb;
  width: 170px;
}

.wrapper__form--text {
  margin-top:20px;
  font-size: 1.2rem;
  color: #ccc;
  font-weight: 600;
}

.wrapper__form--right {
  margin-top: 33px;
  margin-left: 23px;
  margin-right: 18px;
  border-top: 1px solid #dbdbdb;
  width: 170px;
}

.wrapper__login--facebook {
  /* margin-top: 33px; */
  padding-top: 30px;
  display: flex;
  /* justify-content: center; */
  text-align: center;
  margin-left: 79px;
}



.wrapper__login--facebook a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  align-items: center;
  color:#385185;
 

}

.wrapper__login-icon {
  margin-right: 10px;
  font-size: 2rem;
  line-height: 1.8rem;
  align-items: center;
  color:#385185;
}

.wrapper__login--text {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0;
}

.wrapper__forgot a {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #385185;
  margin-top: 20px;
    justify-content: center
}

.wrapper__create--account {
  
  padding: 20px;
  width: 468px;
  margin-top: 73px;
  outline: none;
  text-align: center;
  border: 1px solid #dbdbdb;

}

.wrapper__create--account span {
  font-size: 1.3rem
}

.wrapper__create--account a {
  margin: 5px;
  text-decoration: none;
  color:#336db0;
  font-size: 1.3rem;
  font-weight: 600;
}


.download-here {
  text-align: center;
  margin-top: 22px;
  font-size: 1rem
}
.wrapper__download {
  display: flex;
  justify-content: space-between;
}


.wrapper__download--link:first-child {
  margin-left: 35px;
}


.wrapper__download--link:last-child {
  margin-right: 35px;
}
.wrapper__download--img {
  height: 59px;
  width: 195px;
  margin-top: 22px;
}

.wrapper__footer {
  background-color: #fff;
  /* display: flex; */
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* columns: 2; */
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 67px;
  padding-right: 54px;
  /* display: inline-block; */
  margin-top: 22px
  /* display: inline-block; */
}

.wrapper__footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0
}

.wrapper__footer li {
  padding: 0
}

.wrapper__footer-ul a {
  text-decoration: none;
  color:#8e8e8e;
  font-size: 1rem;
}


.wrapper__footer--music {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 10px
}

.wrapper__footer--music a {
  text-decoration: none;
  color:#8e8e8e;
  font-size: 1rem;
  margin: 10px
}

.wrapper__footer--language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 23px;
  list-style: none;
}

.wrapper__footer--language a {
  color:#8e8e8e;
  text-decoration: none;
  font-size: 1rem;
  padding-left: 30px

}

.wrapper__footer--icon {
  color:#8e8e8e;
  align-items: center;
  padding-left: 8px
}

@media screen and (max-width: 540px) {
  .wrapper__img-icon { 
    display: none
  }
  .wrapper__footer {
    background-color: #fff;
    /* display: flex; */
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* columns: 2; */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 67px;
    padding-right: 54px;
    /* display: inline-block; */
    margin-top: 22px
    /* display: inline-block; */
  }
  .wrapper__form {
    width: 385px;
    height: 434px;
    /* border: 1px solid #dbdbdb; */
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    border-color: #fff;
}

.wrapper__form--input input {
  width: 319px;
  height: 41px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  outline: none;
}
.wrapper__form--button {
  background-color: #b2dffc;
  color: #fff;
  width: 318px;
  height: 41px;
  margin-left: 30px;
  margin-right: 30px;
  outline: none;
  border: 1px solid #b2dffc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.wrapper__form--left {
  margin-top: 33px;
  margin-left: 31px;
  margin-right: 23px;
  border-top: 1px solid #dbdbdb;
  width: 150px;
}

.wrapper__form--right {
  margin-top: 33px;
  margin-left: 23px;
  margin-right: 34px;
  border-top: 1px solid #dbdbdb;
  width: 150px;
}

.wrapper__login-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  align-items: center;
  color: #385185;
}

.wrapper__login--text {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}

.wrapper__create--account {
  padding: 20px;
  width: 343px;
  margin-top: 41px;
  outline: none;
  text-align: center;
  /* border: 1px solid #dbdbdb; */
  margin-bottom: -29px;
  border-color: #fff;
}

.wrapper__create--account span {
  font-size: 1rem;
  margin-left: 38px
}

.wrapper__create--account a {
  margin: 5px;
  text-decoration: none;
  color: #336db0;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper__download--img {
  height: 41px;
  width: 149px;
  margin-top: 22px;
}

.wrapper__footer-ul a {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  padding: 22px 5px 5px 5px;
}

.wrapper__footer--music a {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 0.7rem;
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  padding: 0 2px 10px 0;
  padding-left: -10px;
}

.wrapper__footer--language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 2px;
  list-style: none;
  margin-bottom: 20px;
}

.wrapper__footer--language a {
  color: #8e8e8e;
  text-decoration: none;
  font-size: 0.7rem;
  padding-left: 30px;
}

.wrapper__footer--icon {
  color: #8e8e8e;
  align-items: center;
  padding-left: 8px;
  font-size: 0.7rem;
}












.wrapper__footer {
  background-color: #fff;
  /* display: flex; */
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* columns: 2; */
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 67px;
  padding-right: 54px;
  /* display: inline-block; */
  margin-top: 186px /* display: inline-block;; */;
}
}